@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import "tailwindcss";

* {
    font-family: Poppins;
    list-style: none;
}

::placeholder {
    font-size: 14px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

button:hover,
a:hover {
    opacity: .9
}

label:focus-within>input {
    outline: 1px solid var(--primary-color);
    border-radius: 4px;
}

input {
    text-transform: capitalize;
    outline: none;
    padding: 3px 7px;
}

input::placeholder {
    font-size: 13px;
}