@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import "tailwindcss";

* {
    font-family: Poppins;
    list-style: none;
}

::placeholder {
    font-size: 14px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

button:hover,
a:hover {
    opacity: .9
}

input {
    outline: 0;
}

input {
    text-transform: capitalize;
}

input[type="text"]::placeholder {
    font-size: 13px;
}

table tr:nth-child(even) {
    background-color: #e4e0ee;
    /* Cor de fundo para linhas pares */
}

table tr:nth-child(odd) {
    background-color: #f7edf6;
    /* Cor de fundo para linhas ímpares */
}